/* scroll bar hidden */
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* Main */
.carousel {
  margin-bottom: 40px;
}
.main-bg {
  max-width: 100%;
  height: auto;
}

.row {
  margin-bottom: 40px;
}
.card {
  border: none;
  cursor: pointer;
}

.product-thumbnail {
  background-color: rgb(232, 232, 232);
  border-radius: 8px;
  overflow: hidden;
}
.product-thumbnail img {
  max-width: 100%;
  height: auto;
}

/* List */
.category-title {
  font-weight: bold;
  margin-bottom: 24px;
}

/* Detail */
.subContainer {
  margin-top: 40px;
}
.product-description {
  padding: 20px 0 0 40px;
}
